# Filtering Catalog-Based Views

This notebook demonstrates how to filter data when querying Views using WHERE clauses.

## Prerequisites

- Views must be registered in Unity Catalog (see `registration_and_views.ipynb`)

In [ ]:
## Step 1: Equality Filters

In [ ]:
# Filter by external_id - select all properties
query = """
SELECT * FROM main.sailboat_sailboat_1.smallboat
WHERE external_id = 'my-boat-123'
LIMIT 10;
"""

result = spark.sql(query)
result.show(truncate=False)

In [ ]:
# Filter by external_id - select specific properties
query = """
SELECT 
    external_id,
    name,
    space
FROM main.sailboat_sailboat_1.smallboat
WHERE external_id = 'my-boat-123'
LIMIT 10;
"""

result = spark.sql(query)
result.show(truncate=False)

In [ ]:
# Filter by space and external_id
query = """
SELECT * FROM main.sailboat_sailboat_1.vessel
WHERE space = 'sailboat' AND external_id = 'vessel-123'
LIMIT 10;
"""

result = spark.sql(query)
result.show(truncate=False)

## Step 2: Range Filters

In [ ]:
# Filter by timestamp range
query = """
SELECT * FROM main.power_windturbine_1.pump_view
WHERE timestamp > '2025-01-01' AND timestamp < '2025-12-31'
ORDER BY timestamp;
"""

result = spark.sql(query)
result.show(truncate=False)

In [ ]:
# Filter by numeric range
query = """
SELECT * FROM main.power_windturbine_1.sensor_view
WHERE value > 100 AND value < 200
LIMIT 10;
"""

result = spark.sql(query)
result.show(truncate=False)

## Step 3: NULL Handling

In [ ]:
# Filter out NULL values
query = """
SELECT * FROM main.sailboat_sailboat_1.smallboat
WHERE description IS NOT NULL
LIMIT 10;
"""

result = spark.sql(query)
result.show(truncate=False)

# Find records with NULL values
query = """
SELECT * FROM main.sailboat_sailboat_1.vessel
WHERE name IS NULL
LIMIT 10;
"""

result = spark.sql(query)
result.show(truncate=False)