# Querying Catalog-Based Views

This notebook demonstrates how to query Views registered in Unity Catalog.

## Prerequisites

- Views must be registered in Unity Catalog (see `registration_and_views.ipynb`)

## Step 1: Query Views (No Credentials Needed)

In [ ]:
# Basic query - no credentials needed (handled by View)
query = """
SELECT * FROM main.sailboat_sailboat_1.smallboat
LIMIT 10;
"""

result = spark.sql(query)
result.show(truncate=False)

## Step 2: Select All Properties vs Specific Properties

In [ ]:
# Select all properties (SELECT *)
query_all = """
SELECT * FROM main.sailboat_sailboat_1.smallboat
LIMIT 10;
"""

result_all = spark.sql(query_all)
print("All properties:")
result_all.show(truncate=False)

In [ ]:
# Select specific properties (subset of columns)
query_subset = """
SELECT 
    external_id,
    name,
    space
FROM main.sailboat_sailboat_1.smallboat
LIMIT 10;
"""

result_subset = spark.sql(query_subset)
print("Specific properties only:")
result_subset.show(truncate=False)

## Step 3: Query UDTFs Directly

In [ ]:
# Query UDTF directly (credentials required)
query = """
SELECT * FROM main.sailboat_sailboat_1.smallboat_udtf(
    client_id => SECRET('cdf_sailboat_sailboat', 'client_id'),
    client_secret => SECRET('cdf_sailboat_sailboat', 'client_secret'),
    tenant_id => SECRET('cdf_sailboat_sailboat', 'tenant_id'),
    cdf_cluster => SECRET('cdf_sailboat_sailboat', 'cdf_cluster'),
    project => SECRET('cdf_sailboat_sailboat', 'project'),
    name => 'MyBoat',
    description => NULL
) LIMIT 10;
"""

result = spark.sql(query)
result.show(truncate=False)

## Step 4: Query with Filters

In [ ]:
# Query View with WHERE clause (no credentials needed)
query = """
SELECT * FROM main.sailboat_sailboat_1.smallboat
WHERE name = 'MyBoat'
  AND description IS NOT NULL
ORDER BY external_id;
"""

result = spark.sql(query)
result.show(truncate=False)